.profile{
	margin-top:3%;
	.header{
		display:flex;
		.profileimg{
			flex-grow:0.7;
			text-align: center;
			margin-right: 30px;
			img{
				width: 150px;
				border-radius:50%;
			}
		}
		.infor{
			flex-grow:2.3;
			
			.top{
				display:flex;
				margin-bottom: 20px;
				h2{
					font-size: 28px;
					font-weight: 100;
					margin-right: 20px;
				}
				.edit{
					font-size: 14px;
					border: 1px solid #dbdbdb;
					
					font-weight: 600;
					line-height: 28px;
					color: #424242 ;
					padding:0 7px;
					margin-right: 15px;
				}
				.settings{
					font-size: 28px;
				}
			}
			.mid{
				li{
					display: inline-block;
					font-size: 17px;
					padding-right:40px;
				}
			}
			.bottom{

			}
		}
	}


}