.Contents {
  background-color: #fafafa;
  height: 1000px;
  text-align: center;
}
.Contents .contBox {
  margin: 0 auto;
  width: 500px;
  background-color: aqua;
}

.Contents .contBox .leftCont {
  font-size: 100px;
}