.app{
    
    #header{
        background-color: white;
        border-bottom: 1px solid #dbdbdb ;
    }

    #contents{
				background-color: #fafafa;
				
        
    }

    #footer{
        background-color: purple;
        height:150px;
    }

    .container{
        // background-color: pink;
        width:950px;
        margin: 0 auto;
        height:100%; 
    }

}