.app{
    
    #header{
        background-color: white;
				border-bottom: 1px solid #dbdbdb;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				z-index:9999;
    }

    #contents{
				background-color: #fafafa;
				padding-top: 50px;
        
    }

    #footer{
        background-color: #dbdbdb;
        height:150px;
    }

    .container{            
        // background-color: pink;
        width:970px;
        margin: 0 auto;
        height:100%; 
    }

}