.contents{
	width:100%;
	display:grid; grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "post post side";
  .PostList{
		grid-area:post;
	}
  
  .SideBar{
		position: fixed;
		right:25%;
		grid-area:side;
		
  }
}